{% extends 'base.html.twig' %}
{% block title %}
Product
{% endblock %}
{% block content %}


    <h1>Darseid</h1>
    <ul class="row">
    {% for product in products %}
        <li class=" row col-3">
        <button class="btn btn-primary d-block" type="submit">{{ product }}</button>
        </li>
    {% endfor %}
    </ul>

{% endblock content %}