{% extends 'base.html.twig' %}
{% block title %}
Product
{% endblock %}
{% block content %}

    <h2>INJUSTICE</h2>
    <h1>Darseid</h1>
    <img src="/assets/images/Darkseid.jpg" alt="Darkseid">
    <ul class="row">
    {% for product in products %}
        <li class=" row col-3">
        <button class="btn btn-primary d-block" type="submit">{{ product }}</button>
        </li>
    {% endfor %}
    </ul>

{% endblock content %}